# Database configuration
DB_URL=jdbc:mysql://acela.proxy.rlwy.net:26444
DB_USERNAME=root
DB_PASSWORD=RhdBjokzPjcbrTcucSBjjYDwwPYKuDNG

# JWT Security
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION=86400000
JWT_ACCESS_EXPITRATION = 604800000
# External APIs
OPENALEX_EMAIL=your_email_here
SEMANTIC_SCHOLAR_API_KEY=your_semanticscholar_api_key_here

# Sync Scheduler Configuration
SYNC_CRON=0 0 13 * * ?
SYNC_ENABLED=true
SYNC_DEFAULT_QUERY=machine learning
SYNC_MAX_PAGES=10

